


<div class="row row-centered">
  <div class="col-md-offset-4 col-md-4" id="top-pin">
    <div class="row">
      <div class ="col col-centered full-width">
        <div id="push-pin">
          <%= image_tag("push_pin.png") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class ="col col-centered full-width col-padding">

<h2>Welcome back</h2>
<hr   />
<%= form_for User.new, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>



<p>
<%= f.text_field :username, placeholder: 'username', class: 'form-control input-lg' %>
</p>
<p>
<%= f.password_field :password, placeholder: 'password', class: 'form-control input-lg' %>
</p>
<p>
  <br />
<%= f.submit "Login", class: "comment-button" %>
</p>
<% end %>
<p align="middle">
  <strong>- or -</strong>
</P>
<p>
  <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
    <span class="fa fa-facebook"></span> Sign in with Facebook
  </a>
</p>



</div>
</div>
</div>
</div>
