  <%= render '/layouts/pin_form_errors' %>

<%= form_for @pin, html: { multipart: true } do |f| %>



  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control input-md' %><br>
    <%= f.label :image %> <br>
    <%= f.file_field :image %><br>
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control input-md'
     %><br />
   <%= f.label :tags %>


    <p><%= f.collection_check_boxes   :tag_ids, Tag.all, :id, :name %></p>
    <%= f.fields_for :tags, @pin.tags.build do | tags_fields| %>
    <p>
     <%= tags_fields.label :new_tag_name %>
     <%= tags_fields.text_field  :name, class: 'form-control input-md'  %>
       </p>
    <% end %>

     <%= f.hidden_field :user_id, value: current_user.id %>
<br />
<p>
    <%= f.submit class: "comment-button" %>
    </p>


<% end %>
