<div class="row">
  <div class="col-md-3 pin">
    <div id="push-pin">
<%= image_tag("push_pin.png") %>
      </div>

<h1><%= @pin.title %></h1>
<hr class="less-padding"/>
<%= link_to image_tag(@pin.image.url), @pin.image.url %>
<p>
  <%= truncate(@pin.description, length: 50 ) { link_to "Read more", pin_path(@pin) }%>

</p>
<ul>
<% @pin.tags.each do | tag | %>
<li><%= tag.name %></li>
<% end %>
</ul>
<%= form_for @pin.pin_endorsements.build do | f |  %>
<%= f.hidden_field :user_id, value: @pin.user.id %>
<%= f.hidden_field :pin_id, value: @pin.id %>
<%= f.submit 'Vote' %>
<% end %>

<%= @pin.pin_endorsements.count %>



<h2>Discussion</h2>

<hr class="less-padding" />
<% @pin.comments.each do | comment |%>
<%= comment.content %>
<%= link_to comment.user.username, user_path(comment.user) %>
<% end %>


<%= form_for @pin.comments.build do |f| %>
  <%= f.text_area :content, placeholder: "Your comment", class: "form-control"%><br />
  <%= f.hidden_field :pin_id, value: @pin.id %>
  <% if logged_in? %>
  <span id="comment-box-text">
You are posting as <div class="strong">
<%= current_user.username %>.</div></span>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <% else %>
  <%= f.fields_for :user, @pin.users.build do |user| %>
   <%= user.text_field :username %>
    <%= user.text_field :email %>
     <%= user.text_field :password %>
  <% end %>
 <% end %>

  <%= f.submit %>
<% end %>

  </div>
</div>
