<ul class="comments">
  <li><strong><%= user.username %></strong></li>
  <li><%= user.email %></li>
</ul>
<div class="full-width admin" style="text-align: left;">
  <div class="float-left">
    <%= form_for user do | f |  %>
    <%= f.hidden_field :role, value: "admin" %>
    <%= f.hidden_field :admin_request, value: "approved"%>
    <%= f.submit 'Approve', class: "btn btn-success" %>
    <% end %>
  </div>
  <div class="float-left col-padding">
    <%= form_for user do | f |  %>
    <%= f.hidden_field :role, value: "user" %>
    <%= f.hidden_field :id, value: user.id %>
    <%= f.hidden_field :admin_request, value: "denied" %>
    <%= f.submit 'Deny', class: "btn btn-danger" %>
    <% end %>
   </div>
</div>
<div class="clearfix">
</div>

<hr class="dashed" />
