<% if current_user == nil || current_user.role != "admin" %>

<div class="row row-centered">
    <div class="col-md-offset-4 col-md-4" id="top-pin">
    <div class="row">
      <div class ="col col-centered full-width">
        <div id="push-pin">
          <%= image_tag("push_pin.png") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class ="col col-centered full-width col-padding">
        <% if current_user == nil || current_user.id != @user.id %>
          <h3><%=@user.username%>'s Profile</h3>
        <% else %>
          <h3>Welcome, <%= @user.username %></h3>
        <% end %>
         <hr />
         <ul>
          <li><% if @user.pins.count > 0 %>
              <%= link_to user_pins_path(@user) do %>
              <%=@user.pins.count %> pins
              <% end %>
              <% else %>
              <%=@user.pins.count %> pins
              <% end %></li>
          <li><% if @user.comments.count > 0 %>
            <%= link_to user_comments_path(@user) do %> <%= @user.comments.count%> comments
            <% end %>
            <% else %>
            <%= @user.comments.count%> comments
            <% end %></li>
          <li><% if @user.pin_endorsements.count > 0 %>
            <%= link_to user_pin_endorsements_path(@user) do %>
            <%=@user.pin_endorsements.count %> endorsements
            <% end %>
            <% else %>
            <%=@user.pin_endorsements.count %> endorsements
            <% end %>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>


<% else %>



<div class="row">
    <div class="col-md-3" id="admin-pin">
      <div id="push-pin">
        <%= image_tag("push_pin.png") %>
      </div>
      <h3>Admin Requests</h3>
      <hr class="less-pading"/>
      <%= render(@requests) %>
    </div>

  <div class="col-md-4" id="admin-pin">
    <div id="push-pin">
      <%= image_tag("push_pin.png") %>
    </div>
    <h3>Recent Comments</h3>
    <hr />
    <ul class="comments">
    <%= render(@comments) %>
    </ul>
</div>

<div class="col-md-3" id="admin-pin">
    <div id="push-pin">
      <%= image_tag("push_pin.png") %>
    </div>
    <% if current_user == nil || current_user.id != @user.id %>
      <h3><%=@user.username%>'s Profile</h3>
    <% else %>
      <h3>Welcome, <%= @user.username %></h3>
    <% end %>
     <hr />
     <ul>
      <li><% if @user.pins.count > 0 %>
          <%= link_to user_pins_path(@user) do %>
          <%=@user.pins.count %> pins
          <% end %>
          <% else %>
          <%=@user.pins.count %> pins
          <% end %></li>
      <li><% if @user.comments.count > 0 %>
        <%= link_to user_comments_path(@user) do %> <%= @user.comments.count%>
        <% end %>
        <% else %>
        <%= @user.comments.count%> comments
        <% end %></li>
      <li><% if @user.pin_endorsements.count > 0 %>
        <%= link_to user_pin_endorsements_path(@user) do %>
        <%=@user.pin_endorsements.count %> endorsements
        <% end %>
        <% else %>
        <%=@user.pin_endorsements.count %> endorsements
        <% end %>
      </li>
    </ul>
  </div>
</div>

<% end %>
