<div class="row row-centered">
  <div class="col-md-offset-4 col-md-4" id="top-pin">
    <div class="row">
      <div class ="col col-centered full-width">
        <div id="push-pin">
          <%= image_tag("push_pin.png") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-centered full-width col-padding">
        <h2>Filter by tag</h2>
        <hr class="less-padding" />
        <ul class='tag-block'>
        <% @tags.each do | tag| %>
          <li class="<%=active_class(tag_pins_path(tag))%>">
            <%= link_to tag.name, tag_pins_path(tag), class: 'tag-block' %></li>
         <% end %>
           <li class="<%=active_class(pins_path)%>">
            <%= link_to 'All', pins_path, class: 'tag-block' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
