<!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>The Planning Board</title>


         <%= csrf_meta_tags %>

  <!--  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="/stylesheets/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/css/style.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/css/bootstrap-social.css" media="screen" rel="stylesheet" type="text/css" />

  </head>

  <body class="full">

    <div class="container">

      <!-- Navigation -->
   <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
       <div class="container">
           <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">The Planning Board</a>
           </div>
           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                   <li>

                       <%= link_to 'Pins', pins_path %>
                   </li>
                    <% if logged_in? %>
                    <li>

                        <%= link_to 'Create Pin', new_pin_path %>
                    </li>

                    <li>
                        <%= link_to "Log Out", logout_path, method: :delete %>
                    </li>
                    <% else %>
                   <li>
                       <%= link_to "Sign up", signup_path %>
                   </li>
                   <li>
                       <%= link_to "Login", login_path %>
                   </li>
                   <% end %>
               </ul>
               <% if logged_in? %>
               <p class="navbar-text navbar-right">

              Signed in as <%= link_to current_user.username, user_path(current_user.id) %> </p>
              <% end %>
           </div>
           <!-- /.navbar-collapse -->
       </div>
       <!-- /.container -->
   </nav>


  <%= render 'layouts/flash' %>



    <%= yield %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    }
}
</script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <script src="js/bootstrap.min.js"></script>
   </div>
  </body>
</html>
